.menuContainer {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    /*margin-left: 88%;*/
    height: 4.5vh;
    /*padding-right: 10px;*/
    /*align-items: center;*/
    z-index: 1000;
    position: absolute;
}

.menuExpander {
    display: flex;
    align-items: center;
    background: #fff;
    height: 100%;
    width: 10%;
    justify-content: center;
}

.menuIcon {
    font-size: 2em;
}

.menu {
    background: #fff;
}

.menuItem {
    margin: 1em 0;
}

