.header {
    display: block;
    padding-bottom: 40px;
    position: relative;
}

.headerContent {
    display: block;
}

.textLogo {
    float: left;
}

.logoSymbol {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #7066ff;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
}

@media only screen and (min-width: 601px) {
    .menu {
        width: 100%;
        display: flex;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .mobileMenu {
        width: 100%;
    }
}

@media only screen and (min-width: 991px) {
    .header {
        width: 100%;
        /*margin-left: 40px;*/
    }
}
