.cover {
    width: 100%;
    height: 100%;
    position: absolute;
}

.middlePost {
    width: 100%;
    font-weight: 500;
    height: 600px;
    padding-right: 4em;
    padding-top: 2em;
    max-height: 550px;
    margin: 1em 0;
}

.articleHalfWidth {
    width: 80%;
    margin: 1em 0;
    display: flex;
    height: 311px;
}

.middlePostContent {
    background-color: #fff;
    width: 38%;
    padding: 1em;
    height: 75%;
    float: right;
}

.featuredTitle, .halfWidthContentTitle {
    font-weight: bold;
    font-size: 2.5em;
}

.articleDesc {
    color: #A6A6A6;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1em;
}

.featuredCategory {
    color: #A6A6A6;
    font-size: 1em;
    line-height: 1.1em;
}

.halfWidthCover {
    width: 40%;
    padding-right: 1em;
}

.halfWidthContent {
    width: 60%;
    padding-left: 1em;
}

.halfWidthCover img {
    width: 100%;
    height: 100%;
}

.publishedDate {
    color: #A6A6A6;
    margin-top: 0.5em;
}

.bottomArticle {
    width: 70%;
    height: 177px;
    margin: 1em 0;
    display: flex;
}

.bottomArticleCover {
    height: 177px;
    width: 40%;
}

.bottomContainer {
    width: 90%;
    display: flex;
}

.bottomArticleContent {
    width: 60%;
    padding-left: 1em;
}

.bottomArticleDesc {
    color: #A6A6A6;
    font-size: 1em;
    line-height: 1.3em;
    margin-top: 1em;
}

.categoryHeader {
    margin-top: 1em;
}

.category {
    margin: 1em 0;
    font-size: 0.8em;
}

.category:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 1421px) {
    .pageBody {
        width: 1320px;
    }
}

@media only screen and (max-width: 600px) {
    .pageBody {
        background-color: #FFF;
        display: flex;
        flex-flow: column;
        position: relative;
        flex: 0 0 100%;
        min-height: 100vh;
        align-items: center;
        width: 100%;
    }

    .container {
        width: auto;
        height: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headerPost {
        width: 100%;
        font-weight: 500;
        height: 85vh;
        margin-bottom: 1.3em;
        position: relative;
    }

    .mobileMenu {
        width: 12%;
        display: flex;
        box-sizing: border-box;
        background: #fff;
        margin-left: 88%;
        height: 4.5vh;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        position: fixed;
    }

    .mobileMenu div {
        justify-content: center;
    }

    .mobileMenu div svg {
        width: 1.5em;
        height: auto;
    }

    .headerPostContent {
        color: #fff;
        margin-top: 60%;
        width: 70%;
        position: absolute;
        padding-left: 1em;
    }

    .featuredCategory {
        color: #fff;
        line-height: 1em;
    }

    .featuredTitle {
        font-weight: bold;
        font-size: 2.5em;
        display: block;
        margin-top: 0.5em;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        background: url("/img/main_bg_14.png") no-repeat fixed;
        background-size: cover;
        width: 100vw;
        height: auto;
        min-height: 100vh;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pageBody {
        background-color: #FFF;
        border-radius: 40px;
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
        margin: 3% auto;
        max-width: 1248px;
        padding: 40px 70px 80px;
        display: flex;
        flex-flow: column;
        position: relative;
        flex: 0 0 100%;
        min-height: 100vh;
        align-items: center;
    }

    .headerPost {
        width: 100%;
        font-weight: 500;
        height: 600px;
        max-height: 550px;
        margin-bottom: 1em;
        position: relative;
    }

    .headerPostContent {
        background-color: #fff;
        width: 38%;
        padding: 1em;
        height: 75%;
        position: relative;
        margin-left: 4em;
    }
}